<!DOCTYPE html>
<html lang="ua">
	<head>
		<meta charset="utf-8">
		<title>Альманах Адміна</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/master.css') }}">
	</head>
	<body>
		<div class="wrap">
			<div>
				<ul>
					<li><a href="/">Головна</a></li>
				</ul>
			</div>
			<div class="content">
					<div style="width:300px;margin:0 auto;">
						<ul>
							{% for i in title %}
							<li>
								<a href="/w/{{i.name}}">{{i.name}}</a>
								<ul>
									{% for j in i.manga %}
									<li><a href="/w/{{i.name}}/{{j}}">{{j}}</a></li>
									{% endfor %}
								</ul>
							</li>
							{% endfor %}
						</ul>
					</div>
			</div>
			<div></div>
		</div>
	</body>
</html>
